<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tracks</title>
</head>
<body>
	<section>
		<p>Title {{track.title}}</p>
		<p>Orden {{track.order}}</p>
		<p>File {{track.track_file}}</p>
		<p>Album {{track.album}}</p>
		<p>Artist {{track.artist.name}}</p>
		<p>Biography {{track.artis.bio}}</p> <!-- CON EL ORM de Django, accedo a toda la info relacionada entre los objetos. pudiendo asi traer info del objeto Artista-->
	</section>
</body>
</html>