<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SignIN</title>
</head>
<body>
	<section>
		<form action="" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" value="SignIn">
		</form>
	</section>
</body>
</html>